<table border="1" >
<b> User Name :</b>   <%= @user.name.titleize %>
<%= month_calendar do |date| %>
  <% if @attendence.has_key?(date) %>
    <%= date %>
    <% if @attendence[date] == true %>
      <div class= "presents">
        <b> Present </b>
      </div>
    <% else %>
      <div class = "absents">
        <b> Absent </b>
      </div>
    <% end %>
  <% elsif date == date.end_of_week || date == date.beginning_of_week %>
     <%= date %>
  <% elsif @leaves_day.include?(date) %>
    <%= date %>
    <div class = "leave">
      <b> Leave </b>
    </div>
  <% else %>
    <%= date %>
    <div class = "notavail">
      <b> </b>
    </div>
  <% end %>
<% end %>
</table>
