<!DOCTYPE html>
<html>
  <head>
    <title>LeaveManagement</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="http://mis.neosofttech.in//images/logo.jpg" height ="51px">
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="<%= home_path %>">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "edit profile",edit_user_registration_path %> </li>
            <li><%= link_to 'Logout', destroy_user_session_path, class: "" , method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="col-sm-2 col-md-3">
      <ul class="nav">
        <li class="user bg-primary"><h4> Welcome <%= current_user.name %> </h4></li>
        <li><%= link_to 'Request for Leave', new_leafe_path %></li>
        <li><%= link_to 'View Leave Application', leaves_path %></li>
        <li><%= link_to 'Monthly Attendence', monthly_attendence_user_path(current_user) %></li>
      </ul>
    </div>

    <div class="col-md-9">
      <%= yield %>
    </div>

  </body>
</html>
